body {
    background: rgb(131, 58, 180);
    background: linear-gradient(0deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.parent {
    overflow: auto;
    width: 100%;
    height: 70%;
}

.maindisplay {
    height: 40vh;
}

.mainVoltage {
    font-size: 150px;
}

.twotables {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 10px;
}

.img {
    width: 200px;
    height: 200px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}



.tableOne {
    background-color: white;
    display: flex;
    flex: 1;
    margin: 5px;
}

.voltageOpt {
    color: transparent;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.tableTwo {
    display: flex;
    flex: 1;
    background-color: white;
    margin: 5px;
}